<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Time Stamp
    </h1>
    
    <div>
       <h3>
         Format
      </h3>
      <div class="ejemplo">
        <p>
          You can send a query with two formats <br>
          As a strign: December 14, 1997  ---  <a href="https://rambunctious-group.glitch.me/December%2014,%201997">https://rambunctious-group.glitch.me/December%2014,%201997</a> <br>
          As unix: 1450137600  ---  <a href="https://rambunctious-group.glitch.me/1450137600">https://rambunctious-group.glitch.me/1450137600</a> <br>
        </p>
      </div>
    </div>
      
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="/client.js"></script>

  </body>
</html>
